
North.xcodeproj/xcuserdata/GiaSet.xcuserdatad/xcschemes/xcschememanagement.plist

North.xcodeproj/xcuserdata/GiaSet.xcuserdatad/xcschemes/North.xcscheme

North.xcodeproj/xcuserdata/GiaSet.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
